
/* Navbar */
.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #e6e6eb;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  margin: 0 10px;
}

.nav-link:hover,
.nav-link.active {
  color: #e29898;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #009970;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
  visibility: visible;
}
/* Navbar end */

.nv-brnd {
  margin-left: 20px;
}

.logo_text {
  color: #e6e6eb;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  margin: 0 15px;
}

/* Hero */

.carousel-item {
  height: calc(90vh - 10px);
  min-height: 300px;
  background: no-repeat center/cover;
  background-size: cover;
  position: relative;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.7;
}

.carousel-caption {
  transform: translateY(50%);
  bottom: 50% !important;
}

.carousel-caption h5 {
  font-size: 70px;
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-button .btn {
  margin-right: 20px;
  padding: 1rem 2rem;
  font-size: 20px;
  border-radius: 10px;
}

/* Hero end */

/* Basic info */
/* 
.basic_info{
  background-color: #212529;
} */


.basic_info .right_side {
  width: 600px;
  height: 600px;
  padding: 10px 20px;
  clip-path: polygon(
    0 0,
    80% 0%,
    100% 20%,
    100% 100%,
    100% 100%,
    20% 100%,
    0% 80%,
    0 0
  );
}

.right_side img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.basic_info #basic_heading {
  font-family: "DM Serif Display", serif;
  font-size: 62px !important;
  color: #2f4f4f;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  padding: 10px 20px;
}

.basic_info #basic_para {
  font-family: "DM Serif Display", serif;
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
  padding: 7px 20px;
}

/* Basic info end */

/* Footer */
.social_link {
  text-decoration: none;
  font-size: 32px;
  color: rgb(137, 207, 201);
}

.social_link:hover {
  color: rgb(125, 245, 235);
}

/* Footer end */

/* Footer */

.social_link1 {
  text-decoration: none;
  font-size: 32px;
  color: rgb(137, 207, 201);
}
.social_link {
  text-decoration: none;
  font-size: 32px;
  color: rgb(137, 207, 201);
  margin-left: 20px;
}

.social_link:hover {
  color: rgb(125, 245, 235);
}

/* Footer end */

/* Dropdown */
.dropdown-item {
  color: white;
}
/* Dropdown end */
