@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Concert+One&family=DM+Serif+Display:ital@0;1&family=Oswald:wght@400;500;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

/* font-family: 'Concert One', sans-serif;
font-family: 'DM Serif Display', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif; */

/* Navbar */
.backcolor {
  background: linear-gradient(
    to right,
    rgb(19, 30, 37) 0%,
    rgb(19, 30, 37) 100%
  );
}

.nav-link {
  color: #e6e6eb;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  margin: 0 10px;
}

.nav-link:hover,
.nav-link.active {
  color: #fea24d;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #86c5b4;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
  visibility: visible;
}
/* Navbar end */

.nv-brnd {
  margin-left: 20px;
}

.logo_text {
  color: #e6e6eb;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  margin: 0 15px;
}

/* Hero */

.carousel-item {
  height: calc(90vh - 10px);
  min-height: 300px;
  background: no-repeat center/cover;
  background-size: cover;
  position: relative;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.7;
}

.carousel-caption {
  transform: translateY(50%);
  bottom: 50% !important;
}

.carousel-caption h5 {
  font-size: 70px;
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-button .btn {
  margin-right: 20px;
  padding: 1rem 2rem;
  font-size: 20px;
  border-radius: 10px;
}

/* Hero end */

/* Basic info */
.basic_info {
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
}

.basic_info .right_side {
  width: 600px;
  height: 600px;
  padding: 10px 20px;
  clip-path: polygon(
    0 0,
    80% 0%,
    100% 20%,
    100% 100%,
    100% 100%,
    20% 100%,
    0% 80%,
    0 0
  );
}

.right_image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_side img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.basic_info #basic_heading {
  font-family: "DM Serif Display", serif;
  font-size: 62px !important;
  color: #c7701f;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  padding: 10px 20px;
}

.basic_info #basic_para {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
  padding: 7px 20px;
}

/* Basic info end */

/* Footer section */

.footer_section .company_defi {
  text-align: justify;
}

.footer_section .social_link {
  text-decoration: none;
  color: #fea24d;
  font-size: 32px;
}

.footer_section .social2 {
  margin-left: 20px;
}

.footer_section .social_link:hover {
  color: #ff7c00;
}

.links_heading {
  color: #000;
  font-size: 25px;
}

/* Footer section end */
